{{ $item := .item }}
{{ $icons := dict "paper" "file-alt" "award" "trophy" "milestone" "flag" "travel" "plane" }}

<div class="news-item">
    <span class="news-date">{{ time.Format "Jan 2006" $item.Date }}</span>
    <div class="news-body">
        <span class="news-text">{{ $item.Title }}</span>
        {{- with $item.Params.kind }}
        <span class="news-badge news-badge--{{ . }}"><i class="fas fa-{{ index $icons . | default "circle" }}" aria-hidden="true"></i>{{ . }}</span>
        {{- end }}
    </div>
</div>
